body {
  margin: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.loader .status {
  height: 100%;
}

.loader svg {
  fill: #E6EAEB;
  position: absolute;
  left: 48%;
  top: 250px;
  width: 40px;
  height: 40px;
}

.header-logo svg {
  width: 102px;
  position: fixed;
  left: 42px;
  top: 43px;
  z-index: 160;
  fill: #175059;
}

.callus-logo {
  position: fixed;
  right: 19px;
  top: 18px;
  width: 74px;
  height: 74px;
  background-color: #175059;
  z-index: 100;
}

.callus-logo a svg {
  padding-left: 25px;
  padding-top: 25px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.fix-navbar {
  position: fixed;
  left: 19px;
  top: 18px;
  z-index: 105;
  width: 74px;
  height: calc(100% - 36px);
  bottom: 0;
}

.fix-navbar:hover {
  cursor: pointer;
}

.fix-navbar .show-nav {
  width: 100%;
  text-align: center;
}

.fix-navbar .show-nav i {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}

.fix-navbar .show-nav .hide {
  display: none;
}

.fix-navbar .hide-nav {
  display: none;
  width: 100%;
  text-align: center;
}

.fix-navbar .hide-nav i {
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}

.fix-navbar .hide-nav .hide {
  display: none;
}

.fix-navbar .hide_fixed_navbar {
  display: none;
}

.fix-navbar ul {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.fix-navbar ul li {
  width: auto;
  color: #FFFFFF;
  opacity: 0.3;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 10px;
}

.fix-navbar ul li:hover {
  border-bottom: #FFFFFF solid 5px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.index {
  overflow: hidden;
}

.index .back-linear {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #0B363C), color-stop(76%, rgba(25, 67, 73, 0)));
  background-image: linear-gradient(0deg, #0B363C 10%, rgba(25, 67, 73, 0) 76%);
}

.index .section {
  position: relative;
  height: 100vh;
  min-width: 720px;
  z-index: 1;
}

.index .section .frs-sec-big-back {
  background-image: url("../image/citysunshine.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0B363C;
  background-size: cover;
  z-index: -1;
}

.index .section .frs-sec-header {
  width: 1020px;
  margin: auto;
  height: 100%;
}

.index .section .frs-sec-header .kolge {
  position: fixed;
  background-color: #194349;
  opacity: 0.1;
  width: 59px;
  height: 138px;
  top: 199px;
  left: 272px;
  z-index: 0;
}

.index .section .frs-sec-header .kolge-1 {
  position: fixed;
  background-color: #194349;
  opacity: 0.1;
  width: 48px;
  height: 113px;
  top: 148px;
  left: 533px;
  z-index: 0;
}

.index .section .frs-sec-header .header-one {
  font-family: "IBM Plex Sans SemiBold";
  color: #ffffff;
  font-size: 70px;
  line-height: 77px;
  letter-spacing: -0.89px;
  padding-top: 202px;
}

.index .section .frs-sec-header .frs-sec-section-child {
  margin-top: 70px;
  font-weight: bolder;
  color: #ffffff;
  font-size: 17px;
  font-family: "IBM Plex Sans Medium";
  line-height: 25px;
}

.index .frs-sec-right {
  position: absolute;
  top: 0;
  right: 0;
}

.index .frs-sec-right:hover .frs-sec-sec-icon-2 {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.index .frs-sec-right:hover .cut-thr-img-1 {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.index .frs-sec-right:hover .cut-thr-img-2 {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.index .frs-sec-right:hover .cut-thr-img-3 {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.index .frs-sec-right .kolge-2 {
  position: absolute;
  background-color: #194349;
  width: 172px;
  height: 588px;
  top: 103px;
  right: 192px;
  z-index: 0;
  opacity: 0.2;
}

.index .frs-sec-right .kolge-3 {
  position: absolute;
  background-color: #194349;
  opacity: 0.2;
  width: 64px;
  height: 366px;
  top: 397px;
  right: 84px;
  z-index: 1;
}

.index .frs-sec-right .cut-thr-img {
  position: relative;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  height: 470px;
  width: 360px;
  float: right;
}

.index .frs-sec-right .cut-thr-img .cut-thr-img-1 {
  background-image: url("../image/cutting-image.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 128px;
  left: -90px;
  width: 38%;
  height: 100%;
  background-position: 0px 0px;
  -webkit-transition: 3s;
  transition: 3s;
}

.index .frs-sec-right .cut-thr-img .cut-thr-img-2 {
  background-image: url("../image/cutting-image.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 223px;
  left: 21%;
  width: 28%;
  height: 74%;
  background-position: -169px -99px;
}

.index .frs-sec-right .cut-thr-img .cut-thr-img-3 {
  background-image: url("../image/cutting-image.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 178px;
  left: 58%;
  width: 17%;
  height: 55%;
  background-position: -299px -38px;
  z-index: 1;
}

.index .frs-sec-right .cut-thr-img .frs-sec-sec-icon-1 {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: absolute;
  top: 522px;
  right: 512px;
  font-weight: bolder;
}

.index .frs-sec-right .cut-thr-img .frs-sec-sec-icon-1::after {
  content: '';
  width: 60px;
  height: 3px;
  border-bottom: #ffffff solid 3px;
  position: absolute;
  left: 38px;
  top: 10px;
  z-index: 1;
}

.index .frs-sec-right .cut-thr-img .frs-sec-sec-icon-2 {
  width: 110px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: absolute;
  top: 556px;
  right: 512px;
  opacity: 0.3;
}

/*Section two*/
.section-two {
  background: #0b363c url("../image/home-dev.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 200px;
}

.sec-tw-content {
  font-size: 42px;
  line-height: 55px;
  font-family: "IBM Plex Sans SemiBold";
  color: #fff;
  position: relative;
  left: 15%;
  top: 25%;
}

.sec-tw-content::before {
  content: "";
  width: 7px;
  height: 100px;
  background-color: #175059;
  position: absolute;
  top: 3px;
  left: -20px;
}

.content .sec-tw-mini-p {
  width: 410px;
  margin-left: 17%;
  margin-top: 70px;
  float: left;
}

.content .sec-tw-mini-p p {
  color: #ffffff;
  font-size: 14px;
  font-family: "IBM Plex Sans Medium";
  line-height: 22px;
  font-weight: 700;
  opacity: 0.5;
}

.sec-tw-button {
  position: absolute;
  margin-top: 18%;
  left: 20%;
}

.sec-tw-button .sec-tw-butt-2 {
  width: 150px;
  height: 45px;
  border: 3px solid #244a50;
  margin-left: -40px;
}

.sec-tw-button:hover span {
  position: relative;
  margin-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec-tw-button:hover .sec-tw-butt-1 {
  margin-left: -15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.sec-tw-button:hover .sec-tw-butt-2 {
  background-color: #175059;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.sec-tw-button .sec-tw-butt-1 {
  width: 150px;
  height: 45px;
  color: #ffffff;
  font-size: 17px;
  font-family: "IBM Plex Sans Medium";
  position: absolute;
  left: -7px;
  top: 16px;
}

.sec-tw-button .sec-tw-butt-1 span {
  font-weight: bolder;
}

.tw-sec-right-1 {
  position: absolute;
  top: 0;
  right: 0;
}

.tw-sec-right-1:hover .frs-sec-sec-icon-4 {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tw-sec-right-1:hover .cut-thr-img-4 {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tw-sec-right-1:hover .cut-thr-img-5 {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.tw-sec-right-1:hover .cut-thr-img-6 {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.tw-sec-right-1 .cut-thr-img-0 {
  position: relative;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  height: 470px;
  width: 360px;
  float: right;
}

.tw-sec-right-1 .cut-thr-img-0 .cut-thr-img-4 {
  background-image: url("../image/cutting-image-2.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 128px;
  left: -90px;
  width: 38%;
  height: 100%;
  background-position: 0px 0px;
  -webkit-transition: 3s;
  transition: 3s;
  z-index: 1;
}

.tw-sec-right-1 .cut-thr-img-0 .cut-thr-img-5 {
  background-image: url("../image/cutting-image-2.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 223px;
  left: 21%;
  width: 28%;
  height: 74%;
  background-position: -169px -99px;
  z-index: 1;
}

.tw-sec-right-1 .cut-thr-img-0 .cut-thr-img-6 {
  background-image: url("../image/cutting-image-2.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 178px;
  left: 58%;
  width: 17%;
  height: 55%;
  background-position: -299px -38px;
  z-index: 1;
}

.tw-sec-right-1 .cut-thr-img-0 .frs-sec-sec-icon-3 {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: absolute;
  top: 522px;
  right: 512px;
  font-weight: bolder;
}

.tw-sec-right-1 .cut-thr-img-0 .frs-sec-sec-icon-3::after {
  content: '';
  width: 60px;
  height: 3px;
  border-bottom: #ffffff solid 3px;
  position: absolute;
  left: 38px;
  top: 10px;
  z-index: 1;
}

.tw-sec-right-1 .cut-thr-img-0 .frs-sec-sec-icon-4 {
  width: 110px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: absolute;
  top: 556px;
  right: 512px;
  opacity: 0.3;
}

.tw-sec-r-build {
  width: 450px;
  fill: #ffffff;
  opacity: 0.1;
  float: right;
  margin-right: 6%;
  margin-top: -15%;
}

/*Three section */
.section-three {
  background: #0B363C;
  color: #ffffff;
  padding-top: 100px;
}

.tw-sec-right-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.tw-sec-right-2:hover .cut-thr-img-7 {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tw-sec-right-2:hover .cut-thr-img-8 {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.tw-sec-right-2:hover .cut-thr-img-9 {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.tw-sec-right-2:hover .frs-sec-sec-icon-6 {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tw-sec-right-2 .cut-thr-img-01 {
  position: relative;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  height: 470px;
  width: 360px;
  float: right;
}

.tw-sec-right-2 .cut-thr-img-01 .cut-thr-img-7 {
  background-image: url("../image/cutting-image-3.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 128px;
  left: -90px;
  width: 38%;
  height: 100%;
  background-position: 0px 0px;
  -webkit-transition: 3s;
  transition: 3s;
  z-index: 1;
}

.tw-sec-right-2 .cut-thr-img-01 .cut-thr-img-8 {
  background-image: url("../image/cutting-image-3.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 223px;
  left: 21%;
  width: 28%;
  height: 74%;
  background-position: -169px -99px;
  z-index: 1;
}

.tw-sec-right-2 .cut-thr-img-01 .cut-thr-img-9 {
  background-image: url("../image/cutting-image-3.jpg");
  background-size: auto 470px;
  position: absolute;
  top: 178px;
  left: 58%;
  width: 17%;
  height: 55%;
  background-position: -299px -38px;
  z-index: 1;
}

.tw-sec-right-2 .cut-thr-img-01 .frs-sec-sec-icon-5 {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: absolute;
  top: 522px;
  right: 512px;
  font-weight: bolder;
}

.tw-sec-right-2 .cut-thr-img-01 .frs-sec-sec-icon-5::after {
  content: '';
  width: 60px;
  height: 3px;
  border-bottom: #ffffff solid 3px;
  position: absolute;
  left: 38px;
  top: 10px;
  z-index: 1;
}

.tw-sec-right-2 .cut-thr-img-01 .frs-sec-sec-icon-6 {
  width: 150px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: absolute;
  top: 556px;
  right: 512px;
  opacity: 0.3;
}

.tw-sec-r-build-1 {
  width: 450px;
  fill: #ffffff;
  opacity: 0.1;
  float: right;
  margin-right: 6%;
  margin-top: -418px;
}

.why-us {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
  margin-left: 20%;
}

.why-us::before {
  content: "";
  position: absolute;
  top: 80px;
  height: 100px;
  border-right: 7px solid #175059;
  margin-left: -2%;
}

.why-us-1 {
  font-size: 20px;
  line-height: 18px;
  margin-left: 20%;
  margin-top: 10%;
  width: 200px;
}

.why-us-1::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #175059;
  position: absolute;
  background: #175059;
  left: 18%;
  margin-top: 5px;
}

.why-us-1 .why-us-1-child {
  font-size: 17px;
  padding-top: 20px;
  opacity: 0.3;
}

.why-us-2 {
  font-size: 20px;
  line-height: 18px;
  margin-left: 20%;
  margin-top: 8%;
  width: 250px;
}

.why-us-2::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #175059;
  position: absolute;
  background: #175059;
  left: 18%;
  margin-top: 5px;
}

.why-us-2 .why-us-2-child {
  font-size: 17px;
  padding-top: 20px;
  opacity: 0.3;
}

.why-us-3 {
  font-size: 20px;
  line-height: 18px;
  width: 300px;
  position: absolute;
  top: 290px;
  left: 39%;
}

.why-us-3::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #175059;
  position: absolute;
  background: #175059;
  left: -8%;
  margin-top: 5px;
}

.why-us-3 .why-us-3-child {
  font-size: 17px;
  padding-top: 20px;
  opacity: 0.3;
}

.kolge-4 {
  position: absolute;
  background-color: #000000;
  opacity: 0.1;
  width: 75px;
  height: 260px;
  top: 90px;
  left: 275px;
  z-index: 1;
}

.kolge-5 {
  position: absolute;
  background-color: #000000;
  opacity: 0.1;
  width: 65px;
  height: 180px;
  top: 260px;
  left: 50%;
  z-index: 1;
}

.kolge-6 {
  position: absolute;
  background-color: #000000;
  opacity: 0.1;
  width: 55px;
  height: 150px;
  top: 460px;
  left: 30%;
  z-index: 1;
}

.section-four {
  background: #0B363C;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: linear-gradient(0deg, #0B363C 50%, rgba(25, 67, 73, 0) 76%);
}

#map {
  width: 100%;
  height: 90%;
  opacity: 0.6;
  z-index: -3;
}

.owl-slider-1 {
  width: 70%;
  margin-left: 15%;
  margin-top: -150px;
}

.owl-slider-1 img {
  opacity: 0.5;
  background: #175059;
}

.owl-slider-1 img:hover {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.owl-slider-1 .owl-dots {
  display: none;
}

.owl-slider-1 .owl-prev {
  width: 100px;
  height: 40px;
  position: absolute;
  right: -6%;
  top: 51px;
  z-index: 2;
}

.owl-slider-1 .owl-prev:hover {
  background-color: #0b363c !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-slider-1 .owl-prev:hover span {
  margin-right: -5px;
}

.owl-slider-1 .owl-next {
  width: 100px;
  height: 40px;
  position: absolute;
  left: -6%;
  top: 51px;
  z-index: 2;
}

.owl-slider-1 .owl-next:hover {
  background-color: #0b363c !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-slider-1 .owl-next:hover span {
  margin-right: -5px;
}

.owl-slider-1 .owl-nav::before {
  content: "";
  width: 100px;
  height: 40px;
  border: #0B363C solid 2px;
  position: absolute;
  left: -2%;
  top: 51px;
}

.owl-slider-1::before {
  content: "";
  width: 100px;
  height: 40px;
  border: #0B363C solid 2px;
  z-index: 1;
  position: absolute;
  right: -2%;
  top: 51px;
}

/**/
.section-four {
  position: relative;
}

.fr-sec-head::before {
  content: "";
  height: 100px;
  border: #175059 solid 3px;
  position: absolute;
  top: 80px;
  left: 16%;
  z-index: 2;
  opacity: 0.6;
}

.fr-sec-head div {
  font-size: 48px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  top: 100px;
  left: 18%;
}

.fr-sec-buttn {
  cursor: pointer;
  z-index: 2;
}

.fr-sec-buttn::before {
  content: "";
  width: 180px;
  height: 50px;
  border: #175059 solid 2px;
  position: absolute;
  right: 20%;
  top: 110px;
  z-index: 2;
  opacity: 0.6;
}

.fr-sec-buttn div {
  font-size: 20px;
  color: #ffffff;
  line-height: 10px;
  float: right;
  margin-right: 20%;
  margin-top: 130px;
  width: 150px;
  z-index: 3;
  opacity: 1;
}

.fr-sec-buttn div:hover span {
  margin-left: 10px;
}

/*five section*/
.section-five {
  opacity: 1;
  position: relative;
}

.five-sec-head::before {
  content: "";
  height: 100px;
  border: #175059 solid 3px;
  position: absolute;
  top: 80px;
  left: 16%;
  z-index: 2;
  opacity: 0.3;
}

.five-sec-head div {
  font-size: 46px;
  line-height: 30px;
  color: #0B363C;
  position: absolute;
  top: 100px;
  left: 18%;
  font-weight: bolder;
}

.five-sec-buttn {
  cursor: pointer;
  z-index: 2;
}

.five-sec-buttn::before {
  content: "";
  width: 180px;
  height: 50px;
  border: #175059 solid 2px;
  position: absolute;
  right: 20%;
  top: 110px;
  z-index: 2;
  opacity: 0.3;
}

.five-sec-buttn:hover span {
  padding-left: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.five-sec-buttn div {
  font-size: 20px;
  color: #0b363c;
  line-height: 10px;
  float: right;
  margin-right: 15.5%;
  margin-top: 130px;
  width: 150px;
  z-index: 3;
  opacity: 1;
}

.five-sec-buttn div span {
  padding-left: 15px;
}

.post {
  padding-top: 250px;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.post img {
  z-index: 1;
}

.post_1 {
  width: 310px;
  margin-left: 30%;
}

.post_1::before {
  content: "";
  width: 380px;
  height: 250px;
  position: absolute;
  top: 270px;
  background-color: #ebe9e8;
  z-index: -1;
  opacity: 0.6;
}

.post_1:hover {
  cursor: pointer;
}

.post_1:hover img {
  width: 260px;
  height: 190px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 20px;
}

.post_1 .post_rotate_1 {
  position: absolute;
  width: 50px;
  height: 20px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bolder;
  background-color: #bbada0;
  padding: 5px 25px 5px 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -40px;
  margin-top: 23px;
}

.post_1 .post_back {
  width: 310px;
}

.post_1 .post_back::before {
  content: "";
  position: absolute;
  width: 310px;
  height: 228px;
  background-color: #bbada0;
  z-index: -1;
  opacity: 0.5;
}

.post_1 .post_p {
  color: #102935;
  line-height: 24px;
  margin-top: 50px;
  font-family: "IBM Plex Sans SemiBold";
  margin-left: 30px;
}

.post_1 .post_p::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #98C1D9;
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
}

.post_2 {
  margin-left: 30%;
  padding-top: 5%;
  width: 350px;
}

.post_2::before {
  content: "";
  width: 320px;
  height: 228px;
  position: absolute;
  top: 310px;
  right: -29%;
  background-color: #ebe9e8;
  z-index: -1;
  opacity: 0.6;
}

.post_2:hover {
  cursor: pointer;
}

.post_2:hover img {
  width: 260px;
  height: 190px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 20px;
}

.post_2 .post_rotate_1 {
  position: absolute;
  width: 50px;
  height: 20px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bolder;
  background-color: #A0AAB2;
  padding: 5px 25px 5px 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -40px;
  margin-top: 23px;
}

.post_2 .post_back {
  width: 310px;
}

.post_2 .post_back::before {
  content: "";
  position: absolute;
  width: 310px;
  height: 228px;
  background-color: #bbada0;
  z-index: -1;
  opacity: 0.5;
}

.post_2 .post_p {
  color: #102935;
  line-height: 24px;
  margin-top: 50px;
  font-family: "IBM Plex Sans SemiBold";
  margin-left: 30px;
}

.post_2 .post_p::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #98C1D9;
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
}

/*footer*/
.footer {
  height: 70vh;
  width: 100%;
  background-color: #0b363c;
  overflow: hidden;
  color: #6a9da5;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  list-style-type: none;
}

.footer .footer-one {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .footer-one h4 {
  font-size: 16px;
  opacity: 0.5;
}

.footer .footer-one h4:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer .footer-one .footer-logo {
  width: 20%;
  height: 100%;
}

.footer .footer-one .footer-logo svg {
  width: 110px;
  height: 60px;
  fill: #6a9da5;
}

.footer .footer-one .footer_company_about {
  width: 20%;
  height: 100%;
}

.footer .footer-one .footer_company_about ul li {
  font-size: 16px;
  opacity: 0.5;
  padding-bottom: 30px;
}

.footer .footer-one .footer_company_about ul li:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer .footer-one .footer_company_about div {
  font-size: 16px;
  padding-top: 20px;
  opacity: 0.5;
}

.footer .footer-one .footer_company_about div:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer .footer-one .footer_company_addr {
  padding-left: 6%;
  width: 20%;
  height: 100%;
}

.footer .footer-one .footer_company_addr ul li {
  font-size: 14px;
  opacity: 0.5;
  padding-bottom: 10px;
}

.footer .footer-one .footer_company_contact {
  width: 20%;
  height: 100%;
}

.footer .footer-one .footer_company_contact ul li {
  font-size: 14px;
  opacity: 0.5;
  padding-bottom: 10px;
}

.footer .footer-one .footer_company_contact .social-netw {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .footer-one .footer_company_contact .social-netw li {
  padding: 10px;
}

.footer .footer-one .footer_company_contact .social-netw li i {
  font-size: 20px;
  opacity: 0.5;
}

.footer .footer-one .footer_company_contact .social-netw li i:hover {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
/*# sourceMappingURL=main.css.map */