body {
  margin: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.loader .status {
  height: 100%;
}

.loader svg {
  fill: #E6EAEB;
  position: absolute;
  left: 48%;
  top: 250px;
  width: 40px;
  height: 40px;
}

.header-logo svg {
  width: 102px;
  position: fixed;
  left: 42px;
  top: 43px;
  z-index: 160;
  fill: #175059;
}

.callus-logo {
  position: fixed;
  right: 19px;
  top: 18px;
  width: 74px;
  height: 74px;
  background-color: #175059;
  z-index: 100;
}

.callus-logo a svg {
  padding-left: 25px;
  padding-top: 25px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.fix-navbar {
  position: fixed;
  left: 19px;
  top: 18px;
  z-index: 105;
  width: 74px;
  height: calc(100%-36px);
  bottom: 0;
}

.fix-navbar:hover {
  cursor: pointer;
}

.fix-navbar div {
  width: 100%;
  text-align: center;
}

.fix-navbar div i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}

.fix-navbar div .hide {
  display: none;
}

.index .first-section {
  position: relative;
  height: 100vh;
  min-width: 720px;
  opacity: 1;
}

.index .first-section .frs-sec-big-back {
  background-image: url("../image/citysunshine.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0B363C;
  background-size: cover;
  z-index: -1;
}

.index .first-section .frs-sec-header {
  width: 1020px;
  margin: auto;
  height: 100%;
}

.index .first-section .frs-sec-header .kolge {
  position: absolute;
  background-color: #194349;
  opacity: 0.1;
  width: 59px;
  height: 138px;
  top: 199px;
  left: 272px;
  z-index: 1;
}

.index .first-section .frs-sec-header .kolge-1 {
  position: absolute;
  background-color: #194349;
  opacity: 0.1;
  width: 48px;
  height: 113px;
  top: 180px;
  left: 495px;
  z-index: 1;
}

.index .first-section .frs-sec-header .header-one {
  font-family: "IBM Plex Sans SemiBold";
  color: #ffffff;
  font-size: 70px;
  line-height: 77px;
  letter-spacing: -0.89px;
  padding-top: 303px;
}

.index .first-section .frs-sec-header .frs-sec-section-child {
  margin-top: 70px;
  font-weight: bolder;
  color: #ffffff;
  font-size: 17px;
  font-family: "IBM Plex Sans Medium";
  line-height: 25px;
}

.index .first-section .frs-sec-header .frs-sec-sec-icon-1 {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: relative;
  top: 0;
  right: 380px;
  font-weight: bolder;
}

.index .first-section .frs-sec-header .frs-sec-sec-icon-1::after {
  content: '';
  width: 60px;
  height: 3px;
  border-bottom: #ffffff solid 3px;
  position: absolute;
  top: 30%;
  z-index: 1;
}

.index .first-section .frs-sec-header .frs-sec-sec-icon-2 {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22.4px;
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
  position: relative;
  top: 10px;
  right: 380px;
  opacity: 0.3;
}

.index .first-section .frs-sec-header .frs-sec-sec-icon-2:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.index .first-section .frs-sec-right .kolge-2 {
  position: absolute;
  background-color: #194349;
  width: 172px;
  height: 588px;
  top: 195px;
  right: 192px;
  z-index: 0;
  opacity: 0.2;
}

.index .first-section .frs-sec-right .kolge-3 {
  position: absolute;
  background-color: #194349;
  opacity: 0.2;
  width: 64px;
  height: 366px;
  top: 480px;
  right: 84px;
  z-index: 1;
}

.index .first-section .frs-sec-right .cut-thr-img {
  position: relative;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  height: 470px;
  width: 360px;
  float: right;
}

.index .first-section .frs-sec-right .cut-thr-img .cut-thr-img-1 {
  background-image: url("../image/cutting-image.jpg");
  background-size: auto 470px;
  position: absolute;
  top: -144%;
  left: -90px;
  width: 38%;
  height: 100%;
  background-position: 0px 0px;
}

.index .first-section .frs-sec-right .cut-thr-img .cut-thr-img-2 {
  background-image: url("../image/cutting-image.jpg");
  background-size: auto 470px;
  position: absolute;
  top: -124%;
  left: 23%;
  width: 28%;
  height: 74%;
  background-position: -169px -99px;
}

.index .first-section .frs-sec-right .cut-thr-img .cut-thr-img-3 {
  background-image: url("../image/cutting-image.jpg");
  background-size: auto 470px;
  position: absolute;
  top: -135%;
  left: 60%;
  width: 17%;
  height: 55%;
  background-position: -299px -38px;
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */